﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using MvcApplication1.Models.DocumentTypes;
@using Vega.USiteBuilder;

@{
    Layout = "umbLayout.cshtml";
    var parentID = Model.Content.Id;
    var collection = ContentHelper.GetChildren<Post>(parentID);
 }

<ul>
    @foreach (var item in collection)
    {   

        <li>
            @item.Title
            <br />
            @item.Template
        </li>
    }
</ul>

<hr />
Add new post

@using (Html.BeginUmbracoForm("Create", "Post", new { @class = "PostController" }))
{ 
    <input type="submit" value="add post">
}



