﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using MvcApplication1.Models.DocumentTypes;
@using Vega.USiteBuilder;

@{
    Layout = "umbLayout.cshtml";
    var parentID = Model.Content.Parent.Id;
    var collection = ContentHelper.GetChildren<Post>(parentID);
 }

<ul>
    @foreach (var item in collection)
    {   
        <li>
            @item.Title
        </li>
    }
</ul>
