﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using MvcApplication1.Models.DocumentTypes;
@using Vega.USiteBuilder;

@{
    Layout = "umbLayout.cshtml";
    var id = Model.Content.Id;
    var v = ContentHelper.GetByNodeId<PostsOverview>(id);
 }

<a href="/posts/all-posts/">Go to All posts</a>
@v.Title
@v.Id